:root{
    --main: #FD3;
    --background: #0c0c0c;
    --font-color:#FFFFFF;
    --gray-400:#98A2B3;
    --white:#FFFFFF;
    --black:#0c0c0c;
    --gray1:#1f1f1f;
    --gray4:#BDBDBD;
    --gray5:#E0E0E0;
    --gray6:#F2F2F2;
    --gray-100:#F2F4F7;
    --gray-400:#98A2B3;
    --gray-500:#667085;
    --secondary-01:#FFBC99;
    --secondary-02:#CABDFF;
    --secondary-04:#B5E4CA;
    --success-200:#A6F4C5;
    --padding: 10%;
    --gap: 35px;
}
*{
    font-family: Manrope;
}
/* DEFAULT */
/* --------------------------------------------- */
    body{
        background: var(--background);
        padding: 0;
        transition: 0.4s ease;

    }

    header, section, footer{
        padding: var(--padding);
    }
    p{
        color: var(--gray-400, #98A2B3);
        font-size: 24px;
        font-weight: 400;
        line-height: 111.72%; /* 26.813px */
        letter-spacing: -0.96px;
    }
    h1{
        color: var(--font-color);
        font-size: 96px;
        font-weight: 500;
        line-height: 103.816%; /* 99.663px */
        letter-spacing: -5px;
        margin: 0;
        padding: 0;
    }
    h2{
        color: var(--white);
        text-align: center;
        font-size: 64px;
        font-weight: 500;
        line-height: 116.865%; /* 74.794px */
        letter-spacing: -1.92px;
    }
/* HEADER */
/* --------------------------------------------- */
    header{
        color: var(--font-color);
        display:flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding-block: 8px;
        z-index: 1;
        transition: background-color 0.3s ease;
    }
    header ul{
        display: flex;
        gap: 12px;
        list-style-type: none; 
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; /* 142.857% */
    }
    header li{
        cursor: pointer;
    }
    header a {
        color: inherit;
        text-decoration: inherit; 
    }
/*  MISC */
/* --------------------------------------------- */
    .content{
        width: 100vw;
    }
/*  HERO */
/* --------------------------------------------- */
.section-hero{
    display: flex;
    height: 900px;
    justify-content: space-between;
    align-items: center;
}
.hero-image-container{
    width: 786px;
    height: 771px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-image-illustration{
    width: 526.819px;
    height: 860.113px;
    background: url("./img/character.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-21.68deg);
}
.hero-info{
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 62px;
    width: 513px;
}
/* LANG */
/* --------------------------------------------- */
.section-languages{
    display: flex;
    padding: 85px 80px 33px 80px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
/* INFO */
/* --------------------------------------------- */
.section-info{
    display: flex;
    padding: 85px 80px;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
/*  */
/* --------------------------------------------- */
.container{
    display: flex;
    padding: 45px 45px 0px 45px;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    align-self: stretch;
}
.flex{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 32px;
}
.flex .frame{
    display: flex;
    width: 298px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.grid .frame{
    width: 100%;
    height: 100%;
}
.frame img{
    border-radius: 12px;
    opacity: 1;
    width: inherit;
    height: inherit;
}
.frame img:hover{
    opacity: 0;
    cursor: pointer;
}

.frame{
    position: relative;
    color: var(--color-text);
    border-radius: 10px;
    box-shadow: 6px 6px 16px 0 #00000082, -6px -6px 16px   0 #ffffff0d !important;
    min-height: 142px;
}
.square{
    aspect-ratio: 1 / 1;
}

/*  */
/* --------------------------------------------- */
.button--learnmore{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.button--learnmore, .button--learnmore svg, .button--learnmore__arrow{
    stroke:var(--background);
    stroke-width:2;
}

.button--learnmore svg{
    width: 48px;
    height: 48px;
    fill: none;
}
.button--learnmore p{
    color: var(--font-color);
}

.button--learnmore svg circle{
    transition: all 0.4s linear;
    fill: var(--main);
}
.button--learnmore:hover svg circle{
    fill: var(--color-purple);
    stroke: var(--main);
    transition: all 0.4s linear;
}

.button--learnmore:hover svg .button--learnmore__arrow{
    stroke: var(--main);
    transition: all 0.4s linear;
}
/*footer*/
/* --------------------------------------------- */

footer{
    display: flex;
    padding: 85px 80px 0px 80px;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    
}
footer ul{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 0;
}
footer .container{
    color: var(--text-gray-300, #D9DBE1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/*  */

  .card{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-background);
    color: var(--color-text);
    border-radius: 12px;
    padding: 0;
    
  }
  .card .content{
    opacity: 0;
    border-radius: 12px;
    width: calc(100% - 32px);
    height: calc(100% - 32px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
  }
  .card .content:hover{
    opacity: 100%;
    backdrop-filter: 
      blur(12px)
      brightness(40%)
      grayscale(50%);
  }
  .icon{
    width: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--main);
    color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-area p{
    color: var(--font-color);
  }
  .buttons-area, .labels, .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }
  .more{
    gap: 4px;
  }
  .label, .label-round, .button-more{
    border-radius: 8px;
    background: var(--gray-500);
    padding: 8px;    
    color: var(--font-color);
  }
  .label-round{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
  }
  .important{
    background: var(--main);
    color: var(--color-background);
  }
  .button-more{
    cursor: pointer;
    padding: 12px 14px;
    border-radius: 24px;
    background: var(--main);
    color: var(--color-background);
    border-color: var(--main);
    transition: 0.2s ease;
    border: 1px solid var(--main);
    
  }
  .button-more:hover{
    scale: 1.05;
    border-width: 1px;
    background: transparent;
    color: var(--main);
  }
  .button-more:active{
    scale: 0.95
  }

@keyframes marqueeAnimation {
    from {
      left: -25%;
    }
    to {
      left: 105%;
    }
}
.marquee{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 156px;
    padding-inline-start: 0px;
}
.marquee ul{
    position: absolute;
    padding-inline-start: 0px;

    color: var(--background);
    background: var(--font-color);

    width: 298px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    white-space: nowrap;
    
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.marquee ul i{
    font-size: 64px;
    color: var(--background);
    text-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
    
}
.marquee ul svg{
    height: 64px;
}


