:root{
    --default-black: #0B0D17;
    --default-white: #FFF;
    --text-gray-300: #D9DBE1;
    --text-gray-900: #18191F;
    --grey-line: #737B7D;
    --color-purple: #8C30F5;
    --color-purple-100: #F1E4FF;
}
::selection{
    color: var(--default-white, #FFF);
    background: var(--color-purple-100, #F1E4FF);
}
button{
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
body{
    background-color: rgb(28, 28, 28);
    background: linear-gradient(187deg, #E0CDF9 0%, var(--default-white) 15.21%, var(--default-white) 85%, #E0CDF9 100%);
    font-family: Manrope, system-ui;
    margin: 0;
    overflow-x: hidden;

}
section{
    opacity: 0; /* Set initial opacity to 0 */
    transform: translateY(45px); /* Move the element down slightly */
    animation: fadeInUp 1s ease forwards;
    min-height: 614px;
    scroll-behavior: smooth;
}
header, section, footer{
    padding: 32px 96px;
    display: flex;
}
header{
    height: 72px;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-block: 8px;
    z-index: 1;
    transition: background-color 0.3s ease;
}
ul{
    display: flex;
    gap: 12px;
    list-style-type: none; 
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
}
li{
    cursor: pointer;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
h3{
    color: var(--text-gray-900, #18191F);
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}
h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
    margin-bottom: 0;
}
p{
    font-size: 18px;
    line-height: 32px; /* 177.778% */
}
input[type="text"]{
    border: none;
    width: inherit;

    border-bottom: 1px solid var(--grey-line, #737B7D);
    background-color: transparent;
    color: var(--primeraly-black, #383C3E);
    font-size: 16px;
    line-height: 160%; /* 25.6px */
    letter-spacing: 0.5px;

    display: inline-flex;
    margin: 28px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    transition: all 0.1s linear;
}
input[type="text"]:focus{
    outline: none;
    border-bottom: 2px solid var(--color-purple, #8C30F5);
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 548px;

}
hr{
    width: 100%;
      fill: var(--default-white, #FFF);
      opacity: 0.2;
}
footer{
    height: 256px;
    background: var(--default-black, #0B0D17);
    color: var(--default-white, #FFF);
    flex-direction: column;
    align-items: center;
    position: relative;
}
footer ul{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 0;
}
footer .container{
    color: var(--text-gray-300, #D9DBE1);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#section-experience{
    align-items: center;
    justify-content: space-between;
}
#section-experience .container{
    display: flex;
    width: 445px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 2rem;
}
#section-hero h2{
    font-size: 72px;
    font-weight: 800;
    line-height: 98px; /* 136.111% */
    margin-bottom:0;
}
.button--learnmore{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-gray-900, #18191F);
    font-size: 14px;
    font-weight: 800;
    line-height: 18px; /* 128.571% */
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.button--learnmore, .button--learnmore svg, .button--learnmore__arrow{
    stroke:#18191F;
    stroke-width:2;
}
.button--learnmore svg{
    width: 48;
    height: 48;
    fill: none;
}
.button--learnmore svg circle{
    transition: all 0.4s linear;
    fill: var(--default-white);
}
.button--learnmore:hover svg circle{
    fill: var(--color-purple);
    stroke: var(--default-white);
    transition: all 0.2s linear;
}

.button--learnmore:hover svg .button--learnmore__arrow{
    stroke: var(--default-white);
    transition: all 0.2s linear;
}

.container--circle{
    position: relative;
}
.circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 486px;
    height: 486px;
    border-radius: 486px;
    border: 3px solid var(--color-purple-100, #F1E4FF);
}
.inner-circle{
    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% - 170px);

    min-width: 200px;
    height: 200px;
    border-radius: 340px;
    background: #f7f7f7;
    border: 73px solid var(--color-purple-100, #F1E4FF);

}
.container-center{
    width: 350px;
    color: var(--text-gray-900, #18191F);
    text-align: center;

    font-size: 16px;
    line-height: 26px; /* 162.5% */
}
.container-center b{
font-size: 24px;
font-weight: 600;
line-height: 32px; /* 133.333% */
}
footer #section-skill, .container-center{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#section-skill .container {
    display: grid;
    justify-items: center;
    margin-top: 48px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
#section-hero, #section-skill, #section-project{
    flex-direction: column;
}
#section-contact, #section-project{
    justify-content: space-between;
}
#section-contact button{
    display: flex;
    width: 196px;
    height: 62px;
    padding: 16px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--color-purple, #8C30F5);
    color: var(--default-white, #FFF);

    font-size: 20px;
    font-weight: 700;
    line-height: 30px; /* 150% */
}

#section-contact button:hover{
    background-color: transparent;
    border: 2px solid var(--color-purple, #8C30F5);
    color: var(--color-purple, #8C30F5);
}

.project-showcase{
    width: 60%;
    border-radius: 12px;
}
.icon{
    height: 64px;
    width: 64px;
    background-color: var(--color-purple);
    fill: var(--default-white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon svg{
    max-width: 42px;
    max-height: 42px;
}
.icon:nth-child(2n){
    background-color: #dc95ff;
}

#mouse-track{
    position: absolute;
    transform: translate(-35%, 0%);
    z-index: -1;
}

@keyframes fadeInUp {
    to {
      opacity: 1; /* Fade in */
      transform: translateY(0); /* Move back to original position */
    } 
}
.rotate{
    animation: rotate 15s linear infinite;
}
.rotateReversed{
    animation: rotateReversed 15s linear infinite;
}
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes rotateReversed {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@media only screen and (max-width: 1250px){
    /*Tablets [601px -> 1200px]*/
    section{
      justify-content: space-between;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start !important;
    }
    header, section, footer {
      padding: 32px 85px;
    }
    header{
        padding-block: 0px;
    }
    #section-skill .container{
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .container{
        width: auto;
    }
    .carousel--item{
        flex-direction: column;
    }
    .project-showcase, .carousel--item .container{
        min-width: 100%;
        max-width: max-content;
        padding: 0px !important;
    }
}
@media only screen and (max-width: 860px){
    /*Big smartphones [426px -> 600px]*/


    header, section, footer {
      padding: 32px 32px;
    }
    header{
        padding-block: 8px;
    }

    ul.navbar li{
        display: none;
      }
     ul.navbar li#language_button {
       display: block;
     }
      #section-skill .container{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
    }
    #section-hero h2 {
        font-size: 46px;
        line-height: 52px;
    }

    .container-center b {
        font-size: 20px;
    }
    .container--circle{
        scale: 0.75;
    }
    form{
        width: auto;
        align-items: stretch;
    }

    h1, h2{
        font-size: 38px !important;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }

}
@media only screen and (max-width: 425px){
    /*Small smartphones [325px -> 425px]*/
    h1, h2{
        font-size: 32px !important;
    }
    h3{
        font: 16px !important;
    }
    #section-skill, .container-center {
        width: calc(100vw - 83px);
    }
    .container--circle{
        scale: 0.6;
    }
}
.carousel {
    width: 100%;
    overflow: hidden;
}
.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.carousel--item {
    flex: 0 0 100%;
    height: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}
.carousel--item .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    max-width: 40%;
}
.carousel--buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
}
.carousel--dot{
    width: 8px;
    height: 8px;
    background: var(--text-gray-300);
    border-radius: 50%;
    cursor: pointer;
    margin: 2px;
    transition: all 0.3s ease-in-out;
}
.carousel--dot.selected{
    background-color: var(--color-purple);
    scale:1.1;
}